* {
  font-family: 'Roboto',
    sans-serif;
}

#gif-cont {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 85px;
  justify-content: space-evenly;
  align-content: space-between;
}

form {
  display: inline;
}

h1 {
  text-align: center;
  margin: 35px 0px 20px 0px;
}

#form-cont {
  display: block;
  text-align: center;
  margin-bottom: 45px;
}

#query {
  line-height: 1.5em;
}